# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [76]:
cities_df = pd.read_csv("../output_data/Cities.csv")
cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [78]:
gmaps.configure(api_key = "AIzaSyB2tpD8rsNfBNlxUE0jZgH1dkRta9R61I8")
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"]
max_humidity = cities_df["Humidity"].max()

In [79]:
heatfig = gmaps.figure()
heatmap = gmaps.heatmap_layer(locations, weights = humidity, max_intensity = max_humidity)
heatfig.add_layer(heatmap)

heatfig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [31]:
hotel_df = cities_df.loc[(cities_df["Max Temp"] < 80) & (cities_df["Max Temp"] >60), :]
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
6,6,flinders,0,AU,1558378755,62,-34.58,150.85,60.01,11.41
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93
12,12,avarua,100,CK,1558378756,94,-21.21,-159.78,71.60,2.24
...,...,...,...,...,...,...,...,...,...,...
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82
534,534,marzuq,84,YE,1558378896,36,14.40,46.47,79.44,6.02
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24
539,539,palu,72,ID,1558378897,80,-0.90,119.87,78.72,3.83
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05

In [35]:
hotel_df1 = hotel_df.loc[hotel_df["Wind Speed"] < 10, :]
hotel_df1

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93
12,12,avarua,100,CK,1558378756,94,-21.21,-159.78,71.60,2.24
22,22,ambon,11,FR,1558378758,93,47.55,-2.56,64.99,5.82
25,25,kantang,20,TH,1558378759,94,7.42,99.52,78.80,6.93
...,...,...,...,...,...,...,...,...,...,...
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82
534,534,marzuq,84,YE,1558378896,36,14.40,46.47,79.44,6.02
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24
539,539,palu,72,ID,1558378897,80,-0.90,119.87,78.72,3.83
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05

In [36]:
hotel_df2 = hotel_df1.loc[hotel_df1["Cloudiness"] == 0,:]
hotel_df2

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
30,30,gobabis,0,NaN,1558378567,24,-22.45,18.97,68.00,2.24
37,37,varhaug,0,NO,1558378761,63,58.61,5.65,64.99,8.05
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
84,84,emerald,0,AU,1558378770,82,-23.53,148.16,60.80,6.93
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
141,141,sanchazi,0,CN,1558378781,82,30.43,103.62,64.40,2.24
168,168,straumen,0,NO,1558378786,52,63.87,11.30,68.00,9.17
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
192,192,port hedland,0,AU,1558378791,51,-20.31,118.58,62.60,6.93
214,214,mount isa,0,AU,1558378794,56,-20.73,139.49,68.00,6.93
259,259,hami,0,CN,1558378834,11,42.84,93.51,69.72,6.20
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
298,298,mikkeli,0,FI,1558378844,59,61.69,27.27,62.60,6.93
340,340,la libertad,0,PE,1558378855,36,-16.38,-71.56,64.40,8.05
346,346,chiredzi,0,ZW,1558378856,42,-21.05,31.67,65.76,0.78
371,371,carballo,0,ES,1558378860,44,43.21,-8.69,63.00,5.82
433,433,svodin,0,SK,1558378878,72,47.91,18.50,63.00,6.93
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17
477,477,bundaberg,0,AU,1558378886,93,-24.87,152.35,61.00,6.93
508,508,noumea,0,NC,1558378811,77,-22.28,166.46,64.40,2.24
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05

In [53]:
hotel_df3 = hotel_df2.loc[hotel_df2["Humidity"] < 60,:]
hotel_df4 = hotel_df3.dropna()
hotel_df4

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
168,168,straumen,0,NO,1558378786,52,63.87,11.30,68.00,9.17
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
192,192,port hedland,0,AU,1558378791,51,-20.31,118.58,62.60,6.93
214,214,mount isa,0,AU,1558378794,56,-20.73,139.49,68.00,6.93
259,259,hami,0,CN,1558378834,11,42.84,93.51,69.72,6.20
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
298,298,mikkeli,0,FI,1558378844,59,61.69,27.27,62.60,6.93
340,340,la libertad,0,PE,1558378855,36,-16.38,-71.56,64.40,8.05
346,346,chiredzi,0,ZW,1558378856,42,-21.05,31.67,65.76,0.78
371,371,carballo,0,ES,1558378860,44,43.21,-8.69,63.00,5.82
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [66]:
hotel_df4["Hotel Name"] = ""
# hotel_df["Hotel Lat"] = ""
# hotel_df["Hotel Lng"] = ""

hotel_df4

C:\Users\jasmi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name,Hotel Lat,Hotel Lng
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,,-20.632901,-46.031155
168,168,straumen,0,NO,1558378786,52,63.87,11.30,68.00,9.17,,63.865000,11.257222
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,,35.206750,-2.912102
192,192,port hedland,0,AU,1558378791,51,-20.31,118.58,62.60,6.93,,-20.309140,118.606970
214,214,mount isa,0,AU,1558378794,56,-20.73,139.49,68.00,6.93,,-20.699471,139.486778
259,259,hami,0,CN,1558378834,11,42.84,93.51,69.72,6.20,,42.816837,93.520449
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,,22.909694,96.503862
298,298,mikkeli,0,FI,1558378844,59,61.69,27.27,62.60,6.93,,61.689315,27.270360
340,340,la libertad,0,PE,1558378855,36,-16.38,-71.56,64.40,8.05,,-16.398409,-71.538504
346,346,chiredzi,0,ZW,1558378856,42,-21.05,31.67,65.76,0.78,,-21.045465,31.668000
371,371,carballo,0,ES,1558378860,44,43.21,-8.69,63.00,5.82,,43.214150,-8.722751
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,,32.885957,59.220002
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82,,61.334431,23.676794

In [67]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
radius = 5000

parameters = {"key": "AIzaSyB2tpD8rsNfBNlxUE0jZgH1dkRta9R61I8",
             "radius" :radius,
             "keyword": "hotel"}
failed =[]

for index, row in hotel_df4.iterrows():
    parameters["location"] = f"{row[6]},{row[7]}"
    
    response =requests.get(url, params = parameters).json()
    try:
        hotel_df4.loc[index, "Hotel Name"] = response["results"][0]["name"]
#         hotel_df4.loc[index, "Hotel Lat"] = response["results"][0]["geometry"]["location"]["lat"]
#         hotel_df4.loc[index, "Hotel Lng"] = response["results"][0]["geometry"]["location"]["lng"]
    except  (KeyError, IndexError):
        print("Coundn't find the hotel....")
        failed.append(hotel_df.loc[index, "City"])

In [70]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df4.iterrows()]
hotel_locations = hotel_df4[["Lat", "Lng"]]

In [83]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(hotel_locations, info_box_content = hotel_info )


# Display Map
heatfig.add_layer(markers)

heatfig

Figure(layout=FigureLayout(height='420px'))